.nav-li{
    border-radius: 6px;
    padding: 8px;
    padding-inline: 15px;
}

.nav-ripple {
	/*background: #79b928;
	color: #fff;*/
	/* padding: 20px 23px; */
	position: relative;
	overflow: hidden;
    /* width: 100%; */
}


.nav-ripple::before {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1) !important;
	width: 10%;
	height: 25%;
	border-radius: 50%;
	z-index: 0;
	top: 35%;
	left: 45%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/* .ripple:hover {
	background: rgb(255, 255, 255);
} */

.nav-ripple:hover::before {
	-webkit-transform: scale(15);
	transform: scale(15);
	-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: transform .5s,border-radius .5s .5s;
	transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;
}

.nav-ripple:hover::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

}

/* .nav-li:hover{
	background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    padding: 8px;
    padding-inline: 15px;
} */

.nav-active{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    padding: 8px;
    padding-inline: 15px;
}

.ripple {
	/*background: #79b928;
	color: #fff;*/
	/* padding: 20px 23px; */
	position: relative;
	overflow: hidden;
    /* width: 100%; */
}


.ripple::before {
	content: "";
	position: absolute;
	background-color: rgb(225, 225, 225) !important;
	width: 10%;
	height: 25%;
	border-radius: 50%;
	z-index: 0;
	top: 35%;
	left: 45%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/* .ripple:hover {
	background: rgb(255, 255, 255);
} */

.ripple:hover::before {
	-webkit-transform: scale(15);
	transform: scale(15);
	-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: transform .5s,border-radius .5s .5s;
	transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;
}

.ripple:hover::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

}

.playstore-ripple {
	/*background: #79b928;
	color: #fff;*/
	/* padding: 20px 23px; */
	position: relative;
	overflow: hidden;
    /* width: 100%; */
}


.playstore-ripple::before {
	content: "";
	position: absolute;
	background-color: rgb(255, 255, 255) !important;
	width: 10%;
	height: 25%;
	border-radius: 50%;
	z-index: 1;
	top: 35%;
	left: 45%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/* .ripple:hover {
	background: rgb(255, 255, 255);
} */

.playstore-ripple:hover::before {
	-webkit-transform: scale(15);
	transform: scale(15);
	-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: transform .5s,border-radius .5s .5s;
	transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;
}

.ripple:hover::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

}